build/
FactoryForge.xcodeproj/project.xcworkspace/xcuserdata/rah.xcuserdatad/UserInterfaceState.xcuserstate
FactoryForge.xcodeproj/xcshareddata/xcschemes/FactoryForge.xcscheme
FactoryForge.xcodeproj/xcuserdata/rah.xcuserdatad/xcschemes/xcschememanagement.plist
web/blender/*.blend1
web/blender/factory.blend
web/blender/__pycache__/
web/dist/
web/node_modules/
