build/
FactoryForge.xcodeproj/xcshareddata/xcschemes/FactoryForge.xcscheme
FactoryForge.xcodeproj/xcuserdata/rah.xcuserdatad/xcschemes/xcschememanagement.plist
FactoryForge.xcodeproj/project.xcworkspace/xcuserdata/rah.xcuserdatad/UserInterfaceState.xcuserstate
